* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #19a7ce;
    --cor-secundaria: #0E566A;
    --cor-fonte: white;
}

/* Header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./Img/Background_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 62vh;
    color: var(--cor-fonte);
}

header .header_topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .Logo_JOBS {
    width: 15%;
    margin: 1.5%;
}

header .bloco_usuario {
    background-color: rgba(25, 167, 206, 0.6);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0.5%;
    border-radius: 2vw 0 0 2vw;
}

header .img_user_nao_logado {
    width: 24%;
}

header .header_meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 4%;
} 

header .forma {
    background-color: rgba(25, 167, 206);
    width: 4%;
    height: 2vh;
    border-radius: 2vw;
}

/* Main - Busque sua oportunidade */

main .buscar_oportunidade {
    background-color: var(--cor-principal);
    height: 80vh;
    padding: 2%;
}

main .titulo_buscar {
    color: var(--cor-secundaria);
}

main .buscar_oportunidade hr {
    width: 85%;
    border: 1px solid var(--cor-secundaria);
    margin-top: .5%;
}