#chat-container {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

/* Mensagens enviadas pelo próprio usuário (alinhadas à direita e com fundo diferente) */
.sent-message {
    text-align: right;
    background-color: #d1f7c4; /* Cor de fundo para mensagens enviadas */
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Mensagens recebidas de outro usuário (alinhadas à esquerda e com fundo diferente) */
.received-message {
    text-align: left;
    background-color: #c4e3f7; /* Cor de fundo para mensagens recebidas */
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#message-input {
    width: 80%;
}

#send-button {
    width: 18%;
}
