@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

:root {
  --cor-primaria: #19a7ce;
  --cor-secundaria: #0e566a;
  --cor-terciaria: #9DD4D1;
  --cor-fonte: white;
}

body {
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  padding-top: 5%;
}

/* Topo - Explicação Geral */

#quant_acertos {
  font-size: 2rem;
}

.bloco_explicacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-bottom: 4%;
}

img {
  width: 20vw;
}

#explicacao {
  text-align: justify;
  width: 50vw;
  font-size: 1.4rem;
}

/* Meio - Explicação questão por questão */

.bloco_respostas {
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  gap: 3vh;
  padding: 4%;
  color: var(--cor-terciaria);
}

.bloco_respostas h2 {
  font-size: 2rem;
}

.bloco_res {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.bloco_res #bloco_res_pergunta, .bloco_res #bloco_res_resposta, .bloco_res #bloco_res_explicacao {
  font-size: 1.4rem;
  text-align: justify;
}

.bloco_res #bloco_res_resposta,
.bloco_res #bloco_res_explicacao {
  /* visibility: hidden; */
  display: none;
}

.bloco_res:hover #bloco_res_resposta,
.bloco_res:hover #bloco_res_explicacao {
  /* visibility: visible; */
  display: block;
}


/* Fim - Botão voltar ao início */

button {
  background-color: var(--cor-secundaria);
  width: 10vw;
  padding: 1%;
  border: 0;
  border-radius: 1vw;
  margin-bottom: 3%;
  font-size: 1rem;
  color: var(--cor-terciaria);
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}