.loader {
    border: 16px solid #e0e0e0;
    /* Light grey */
    border-top: 16px solid #9DD4D1;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}